.pad{
    width: 400px;
    height: 325px;
    object-fit: contain;
    
}
body{
 font-family: "Lato", sans-serif;
}
.price{
    color: red;
    
}
.box{
    border: 1px solid black;
    width: 400px;
    padding: 30px;
   
}
.about{
    background-color:#ebebeb;
    list-style: none;
    padding: 10px;
}
.buy:hover{
    text-decoration: underline;
    cursor: pointer;
  
}
.add:hover{
  
    text-decoration: underline;
    cursor: pointer;
}
.back{
    display: flex;
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
    color: black;
    padding-top: 20px;
   
}
.buy{
   padding: 25px 10px;
    display: inline;
    color: #853ae0;
    font-weight: bolder;
}
.add{
   padding:  25px 10px;
    font-weight: bolder;
    display: inline;
    color: #853ae0;
}
.huawei{
    height: 325px;
    width: 400px;
     object-fit: contain;
    
}
.price1{
    color: red;
}

ul{
    list-style: none;
    padding: 10px;
    background-color: #ebebeb;

}
.container{
    max-width: 1120px;
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
   
}



.buy1:hover{
     text-decoration: underline;
    cursor: pointer;
}
.add1:hover{
    text-decoration: underline;
    cursor: pointer;
}