ol {
    width: 400px;
    margin: auto;
    list-style-position: inside;
}
li:first-child {
    background-color:black ;
    color: white;
    padding: 15px;
}
li:nth-child(2) {
    background-color:silver;
    color: white;
    padding: 15px;
}
li:nth-child(3) {
    background-color:gray;
    color: white;
    padding: 15px;
}   
li:nth-child(4) {
    background-color:#3498db;
    color: white;
    padding: 15px;
}   
li:nth-child(5) {
    background-color:maroon;
    color: white;
    padding: 15px;
}
li:nth-child(6) {
    background-color:red;
    color: white;
    padding: 15px;
}
li:nth-child(7) {
    background-color:purple;
    color: white;
    padding: 15px;
}
li:nth-child(8) {
    background-color:#FF00FF;
    color: black;
    padding: 15px;
}
li:nth-child(9) {
    background-color:green;
    color: white;
    padding: 15px;
}
li:nth-child(10) {
    background-color:lime;
    color: black;
    padding: 15px;
}
li:nth-child(11) {
    background-color:olive;
    color: white;
    padding: 15px;
}
li:nth-child(12) {
    background-color:yellow;
    color: black;
    padding: 15px;
}
li:nth-child(13) {
    background-color:navy;
    color: white;
    padding: 15px;
}
li:nth-child(14) {
    background-color:blue;
    color: white;
    padding: 15px;
}
li:nth-child(15) {
    background-color:teal;
    color: white;
    padding: 20px;
}
li:last-child {
    background-color:aqua;
    color: black;
    padding: 15px;
}
li:hover {
    background-color: white;
    color: black;
}
