body{
    font-family: "Poppins", sans-serif;
    background-color: #f8f8f8;
    
}
.container{
    text-align: left;
}

.blog{
    color: #ffa62b;
    font-weight: 600;
}
.heading{
    font-size: 54px;
    font-weight: 500;
    line-height: 1.4;
}
.ad{
    color: #999999;
    
}
.box{
    position: relative; 
}
.com{
    color: #ffa62b;
}
i{
    color: #ffa62b;
}
.icons{
    font-size: 13px;
    font-weight: 600;
}
.text-form{
    position: relative;
    background-color: white;
    width: 100%;
}
h3{
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    transition: .3s;
}
h3:hover{
    color: #ffa62b;
}
p{
    color: #999999;
}
.date{
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 100px;
    background-color: #3d424a;
    bottom: 257px;
    left: 52px;
    z-index: 1;
}
.month{
   text-align: center;
     font-size: 15px;
    color:white ;

}
.day{
    margin: 27px;
    color: white;
    font-size: 30px;

}