body{
    font-family: "Poppins", sans-serif;
    background-color:#f8f8f8;
}
h2{
    font-size: 50px;
    font-weight: 500;
}
.about{
    color: #999999;
    font-size: 15px;
}
.name{
    color: black;
}
p{
    font-size: 20px;
    color: #ffa62b;
}
.text{
    background-color: white;
}
.text:hover{
    background-color: #ffa62b;
    transition: .4s;
}
.text:hover>.about{
    color: white;
    transition: .4s;
}
.div{
    position: relative;
    left: 15px;
}
.icons{
    position: absolute;
    display: flex;
    flex-direction: column;

}
.icon-body{
    width: 40px;
    height: 40px;
    background-color: #3d424a;
    color: white;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    /*opacity: 0;
    visibility: hidden;*/
}
.icon-body:hover{
    background-color: #ffa62b;
    transition: .4s;
}
/*.box:hover>.icons{
    opacity: 1;
    visibility: visible;
}*/
.container{
    min-width: 1120px;
    margin: 30px;
}


