ul{
    list-style-type:disc;
    margin-right: 30px;
}
h1{
    font-size: 50px;
    margin-bottom: 0.5em;
    color:black;
}
h2{
    font-size: 30px;
    margin-bottom: 1em;
    color:black;
}
h3{
    font-size: 20px;
    margin-bottom: 1em;
    color:black;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    max-width: 1120px;
    margin: auto;
    padding: 20px;
}
a{
    color:lightgreen;
    text-decoration: underline;
}
p{
    margin-bottom: 1em;
    color:black;
    padding: 0;
}
.box{
    max-width: 1120px;
    margin: auto;
}
header{
    background-color: rgb(51, 188, 51);
    height: 50px;
    width: 100%;
    
}
footer{
    background-color: skyblue;
    height: 60px;
    margin: auto;
}





