h3 {
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
h1{
    word-spacing: 10px;
    font-size: 70px;
    font-family: "Open Sans", sans-serif;;
}
ul{
    list-style: none;
}
header{
    background-color: whitesmoke;
    text-align: left;
    margin: 100;
}
.btn{
    background-color:aliceblue;
    color: black;
    border-color: orange;
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px;
}
.btn{
    position: absolute;
    top: 10px;
    right: 20px;
}
.btn:hover{
    background-color: orange;
    color: white;
}
body{
    font-family: "Josefin Sans", sans-serif;
}
.btn1{
    background-color: darkgoldenrod;
    color: white;
    border-color: orange;
    cursor: pointer; 
    padding: 20px;
    border-radius: 15px;
}
.btn1:hover{
    background-color:darkorange;
    color: white;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
}
.nav-links li:hover{
    color: orange;
    cursor: pointer;
}
.nav-links{
    display: flex;
    justify-content:space-around;
    align-items: right;
    padding: 10px;
}

