body{
    background-color:#ecf0f1;
    cursor:progress ;
}


.loading{
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

}
span{
    background-color: #555;
    border: 5px solid #555;
    border-radius: 100%;
    animation: loader .7s infinite alternate;
}
span:nth-child(2){
    animation-delay: .2s;
}
span:nth-child(3){
    animation-delay: .4s;
}

@keyframes loader{
    from {
        transform:scale(1)
    }
    to{
        transform: scale(2);
    }
}
