*{
    margin: 20px;
}

h1{
   font-family: "Open Sans", sans-serif;
   font-size: 3em;
}
h3{
   font: 18.72px 'Montserrat', sans-serif;
   font-weight: bolder;
}


.container{
   max-width: 1000px;
   width: 65%;
   margin: auto;
   display: block;
    
}
.table{
    width: 100%;
    border: 1px solid  #80ced6;
    border-collapse: collapse;
    background-color:#f0fff8;
    
}
td{
    border: 1px solid #80ced6;
    padding: 10px;
}
.box{
    width: 100%;
    border:1px solid  #80ced6;
    background-color:#f0fff8; 
    border-radius: 10px;
}
.box-1{
     width: 100%;
    border:1px solid  #80ced6;
    background-color:#f0fff8; 
    border-radius: 10px;
}
.box-2{
     width: 100%;
    border:1px solid  #80ced6;
    background-color:#f0fff8; 
    border-radius: 10px;
}
.box-3{
      width: 100%;
    border:1px solid  #80ced6;
    background-color:#f0fff8; 
    border-radius: 10px;
}
.list-box{
    width: 70%;
    border:1px solid  #80ced6;
    background-color:#f0fff8; 
    border-radius: 10px;
    
}
ul{
    list-style: square;
   
}
.list-box-1{
     width: 70%;
    border:1px solid  #80ced6;
    background-color:#f0fff8; 
    border-radius: 10px;
}
.list-box-2{
     width: 70%;
    border:1px solid  #80ced6;
    background-color:#f0fff8; 
    border-radius: 10px;
}