.icon {
    color: violet;
    font-size: 40px;
    font-family: "Preahvihear", sans-serif;
}

.icon:hover {
    background-color: plum;
    color: white;
}

.button {
    border: 1px solid violet;
    color: violet;
}

.button:hover {
    border: 1px solid violet;
    background-color: violet;
    color: white;
}


.heart {
    color: violet;
    font-size: 23px;
}

.bag {
    color: violet;
    font-size: 23px;
}

.user {
    color: violet;
    font-size: 23px;
    cursor: pointer;
}

.house {
    color: violet;
    font-size: 23px;
}

.btn-1 {
    border: 1px solid violet;
    color: violet;
}

.btn-1:hover {
    background-color: violet;
    color: white;
}

.card {
    color: violet;
}

.save {
    border: 1px solid violet;
    background-color: violet;
    color: white;
}

.save:hover {
    background-color: white;
    color: violet;
    border: 1px solid violet;
}

.close {
    background-color: white;
    color: violet;
    border: 1px solid violet;
}

.close:hover {
    border: 1px solid violet;
    background-color: violet;
    color: white;
}


.div {
    color: violet;
    font-family: "Preahvihear", sans-serif;
    font-size: 20px;
}



.item {
    color: #6c6c6c;
}

.glazed {
    width: 21px;
    height: 22px;
    border: 1px solid gray;
    background-color: #f5bdc9;
    border-radius: 100%;
}

.glazed1 {
    width: 21px;
    height: 22px;
    border: 1px solid gray;
    background-color: #5dbd71;
    border-radius: 100%;
}

.glazed2 {
    width: 21px;
    height: 22px;
    border: 1px solid gray;
    background-color: #79a3dc;
    border-radius: 100%;
}
.glazed3{
    width: 21px;
    height: 22px;
    border: 1px solid gray;
    background-color: #a86d87;
    border-radius: 100%;
}
.dif {
    display: flex;
    gap: 5px;
    cursor: pointer;
    margin-top: 15px;
}
.text{
    color: violet;
    margin-top: 15px;

}
.display{
    display: flex;
    justify-content: space-evenly;
}
.footer{
    margin-top: 150px;
    margin-left: 40px;
    box-sizing: border-box;
}
.img{
    height: 360px;
    width: 360px;
}
.plus{
    margin: 100px;
    font-family: CeraPro;
    line-height: 1.75;
    font-size: 20px;
    letter-spacing: .15rem;
}
.form-control1{
    width: 455px;
    height: 60px;
    border: 1px solid black;
    margin-top: 15px;
}
.order{
    color: violet;
}
.lg{
    margin: 100px;
    display: block;
}
.btn12{
    width: 455px;
    height: 60px;
    border: 1px solid violet;
    color: violet;
    background-color: white;
}

