body{
    background-color: #1a9ac9;
}
h1{
    color: white;
    text-align: center;
    margin-top: 150px;
    font-size: 56px;
    font-weight: 700;
     font-family: "Noto Sans", sans-serif;
}
.box{
    background-color: white;
   border: 2px solid white;
    width: 785px;
    height: 450px;
    gap: 2px;
    
}
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
     border: 2px solid white;
    gap: 2px;
     
}
.img1{
    width: 260px;
    height: 150px;

}
.img2{
     width: 260px;
    height: 150px;
}
.img3{
     width: 260px;
    height: 150px;
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
     border: 2px solid white;
    gap: 2px;
}
.row3{
    display: flex;
    justify-content: center;
    align-items: center;
     border: 2px solid white;
    gap: 2px;
}

